h1{
    font-size: 60px;
    text-align: center;
    padding-top: 300px;
    margin: auto;
    color: cyan;
}

#copyright{
    font-size: 20px;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    text-shadow: 1px 1px 1px cyan;

}

html{
    background-color: rgb(0, 0, 0);
}

