h1{
    font-size: 60px;
    text-align: center;
    padding-top: 300px;
    margin: auto;
    color: cyan;
}

#copyright{
    font-size: 20px;
    padding-top: 300px;
    text-align: center;
    text-shadow: 1px 1px 1px blue;
    margin: auto;
}

html{
    background-color: rgb(0, 0, 0);
}

